
<div class="container">
  <mat-card *ngFor="let dog of dogs; let i = index;">
    <img mat-card-image class="coverImg" [src]="dog.coverImage" alt="Photo of a {{dog.title}}">
    <mat-card-header>
      <!-- <img mat-card-avatar [src]="dog.avatar"> -->
      <mat-card-title>{{dog.title}}</mat-card-title>
      <mat-card-subtitle>{{dog.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{dog.details}}
      </p>
      <p>
        Published: {{dog.date | dateAgo}}
      </p>
    </mat-card-content>
  </mat-card>
</div>